image:
  - Ubuntu
version: '{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
  except:
    - /wip-.*/
nuget:
  disable_publish_on_pr: true
services:
  - mysql
environment:
  mysql_password: 'Password12!'
  CODECOV_TOKEN:
    secure: /CUdMsHvn37uHup5duyGkVBpdVe/1FNO9/t/s1rM+4pRSly4WNbwPcOs6Lq0KqhG
before_build:
  - git submodule update --init --recursive -q
build_script:
- sh: ./build.sh
test_script:
- sh: ./test.sh
after_test:
- sh: curl https://codecov.io/bash -o codecov.sh
- sh: chmod +x ./codecov.sh
- sh: ./codecov.sh -f ./coverage/coverage.opencover.xml -X gcov -X coveragepy
artifacts:
  - path: ./artifacts/**/*.nupkg
    name: NuGet
  - path: ./coverage/coverage.opencover.xml
    name: Coverage
deploy:
  - provider: NuGet
    name: production
    api_key:
      secure: ptJ1xOgh7IPWlk1romGqz589DLYuuVWeJdixYtc1CgpN3ZUmQY1PMjSXrVYpY/uW
    on:
      branch: master
      appveyor_repo_tag: true
