image: Visual Studio 2015
version: '{build}'
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
    - master
nuget:
  disable_publish_on_pr: true
services:
  - mysql
environment:
  mysql_password: 'Password12!'
build_script:
  - ps: .\build.ps1
test: off
artifacts:
  - path: .\artifacts\**\*.nupkg
    name: NuGet
deploy:
  - provider: NuGet
    name: production
    api_key:
      secure: BJzYpkX0Y7eBBdcc4tSJVDqu/h1jc/Jhc4brLw13Guibh3cP65pYRyWjYToIgFC5
    on:
      branch: master
      appveyor_repo_tag: true
